/* ------------- option for reset---------- */

/* ----------------------------------------- */

/*---------- шапка ------------*/

/* ------------- flex логотип ------------------*/

/* -------------параметры шрифта логотипа-----------------*/

/* ----------- flex студия + портфолио + контакты ----------------*/

/* ----------- наведение мышки ----------------*/

/* ----------параметры шрифта студия + портфолио + контакты ------------------*/

/* -------------------нижнее подчеркивание------------------------ */

/* ------------ flex номер + имеил ------------------*/

/* ------------ параметры шрифта номер + имеил ------------------*/

/*---------------BLOCK II------------------*/

/*---------------HERO -----------------------


----------------------фон текста----------------*/

/*---------------ширина эфективные решения-------------------*/

/*---------------Кнопка заказать услугу-------------------*/

/*----------модальное окно---------------*/

/* ------------офoрмление форм------------------- */

/* ----------------сделал чекбокс----------------- */

/* -------------синяя кнопка в модалке---------------- */

/*-------кнопка крестик---------------*/

/*---------------block III-------------------*/

/*-------chart список---------------*/

/*---------- about us ------------*/

/* --------------текст на фоне картинок/вкладка студия----------- */

/*---------- Our team ------------*/

/* ---------------icon--------------------- */

/* ------------------наши клиенты------------------------- */

/*---------- footer ------------*/

/* -----------------футер социальные сети--------------------- */

/* ------------Подпишись на рассылку------------- */

/* ----------- Portfolio----------------- */

.indent {
  border-top: 1px solid #ececec;
  padding-top: 76px;
  padding-bottom: 112px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .button_name {
  margin-right: 8px;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: 500ms;
  border: none;
}

.portfolio-btn.button_name:hover,
.portfolio-btn.button_name:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*-----------------секция фото-------------------------*/

.container-portfolio {
  max-width: 1170px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-list .item-chart:focus,
.portfolio-list .item-chart:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list .image {
  width: 100%;
  display: flex;
}
/* ------------текст технокряк в изображении--------------------- */

.image-thumb {
  position: relative;
  overflow: hidden;
}

.image-thumb:hover .bg-text {
  transform: translateY(0);
}

.bg-text {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms linear;
  transform: translateY(100%);
}
.item-text {
  color: #ffffff;
  font-family: var(--accent-color);
  font-size: 18px;
  font-weight: 10px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}

/* -------------------------------------------------------------- */

.item-chart {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: 500ms;
}

.title {
  font-family: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.size-word {
  padding: 20px 24px;
}

.address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-list-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* -----------------футер социальные сети--------------------- */

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: 500ms;
}

.footer-social {
  display: block;
  margin-left: 70px;
}
.footer-social-box {
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
}

.footer-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/* ------------Подпишись на рассылку------------- */
.footer-form-field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.footer-form {
  margin-left: auto;
}
.footer-form-label {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form-input:focus {
  outline: none;
}

.footer-form-box {
  display: flex;
}

.footer-form-button {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 10px 28px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer-form-icon {
  margin-left: 10px;
  fill: #fff;
}

/* ----------- Portfolio----------------- */

.indent {
  border-top: 1px solid #ececec;
  padding-top: 76px;
  padding-bottom: 112px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .button_name {
  margin-right: 8px;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: 500ms;
}

.portfolio-btn .button_name:hover,
.portfolio-btn .button_name:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*-----------------секция фото-------------------------*/

.container-portfolio {
  max-width: 1170px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-list .item-chart:focus,
.portfolio-list .item-chart:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list .image {
  width: 100%;
  display: flex;
}
/* ------------текст технокряк в изображении--------------------- */

.image-thumb {
  position: relative;
  overflow: hidden;
}

.image-thumb:hover .bg-text {
  transform: translateY(0);
}

.bg-text {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms linear;
  transform: translateY(100%);
}
.item-text {
  color: #ffffff;
  font-family: var(--accent-color);
  font-size: 18px;
  font-weight: 10px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}

/* -------------------------------------------------------------- */

.item-chart {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: 500ms;
}

.title {
  font-family: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.size-word {
  padding: 20px 24px;
}
