.header-width {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}

.header .header__container {
  display: flex;
}
.header__container-address {
  display: flex;
}
