.header-width {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}

.header .header__container {
  display: flex;
}
.header .header__container-logo {
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__logo-text-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
.header__word-web {
  color: var(--accent-color);
}
.header__email-icon,
.header__tel-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__container-address {
  display: flex;
}

.header__address-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__tel,
.header__mail {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  transition: 500ms;
  margin-right: 50px;
}
