.header-tel,
.header-mail {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  transition: 500ms;
}
.tel-icon,
.email-icon {
  margin-right: 10px;
}

.container-address {
  display: flex;
}

.address-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-list .header-mail {
  margin-right: 30px;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.email-icon,
.tel-icon {
  fill: currentColor;
}
