.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 300ms;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.navigation-menu .navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-menu {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.container-item {
  padding-top: 32px;
  padding-bottom: 32px;
}
